
.panelbottom
  .content_bottom
    .trai
      img(src='/Content/images/letf_bottom.jpg')
    .thongtin
      span.tentruong TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT TP.HCM
      br
      span Số 1 Võ Văn Ngân, Thủ Đức, TP.HCM
      br
      span Điện thoại: (84-8) 37221223
    .phai
      img(src='/Content/images/right_bottom.jpg')
  .version
    .info_ver
      a(href='#')
        | Bản quyền (C) 2022 TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT TP.HCM - Phát triển bởi PSC UIS
