.hide=ip
.paneltop
  .banner
    img(src='/Content/images/banner_UTE.png')
  if user
    .blog_menu2
      .img1_menu2
        img(src='/Content/images/img1_menu2.jpg')
      ul.menu2
        li
          a(href='javascript:void(0)')=`Sinh viên: ${user.displayName || user.name}`
            span [ 20110592 ]
        li#id_menu2
          a(href='/logout') Thoát
      .img2_menu2
        img(src='/Content/images/img2_menu2.jpg')
    .blog_menu3
      .img1_menu3
        img.img1_menu2(src='/Content/images/img1_menu3.jpg')
      ul.menu3
        li
          img.img(src='/Content/images/hoa.png')
          a(href='#')
            | Trang đăng ký học phần
            img(src='/Content/images/ARROW.png')
            span Đăng ký học phần theo kế hoạch
      .img2_menu3
        img.img2_menu2(src='/Content/images/img2_menu3.jpg')
